@font-face {
    font-family: horizon;
    src: url(Horizon.otf);
}
@font-face {
    font-family: bebas;
    src: url(BebasNeue-Regular.ttf);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #004984;
}
header{
    margin-left:45%;
}
div{
    border-radius: 0em;
}
h3{
    font-family: 'Bebas Neue', Arial;
    color:#004984;
    font-size: 25px;
}
.stocks h3{
    grid-area:heading;
}
h1{
    color:#438dca;
    font-family: horizon;
}
.weather{
    grid-area: weather;
    width:25em;
    text-align: center;
    height:15em;
}
.weather img{
    width:95px;
    height:95px;
    margin-top: 2px;
    margin-bottom:2px;
    padding:0;
}
.stocks{
    grid-area: stocks;
    display:inline-grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    grid-template-areas: 
    "heading heading"
    "tsla paytm" 
    "aapl meta";
    border-radius: 0em;
    padding: 0px;
}
.toDo{
    grid-area: toDo;
    width:25em;
    text-align:center;
    height:15em
}
nav{
    display:inline-grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:"weather toDo stocks";
    width:100%;
    margin-left:0%;
    height: 25em;
}
nav:nth-child(1){
    background-color: #438dca;
}

nav:nth-child(even){
    background-color: #438dca;
}

.aapl{
    background-color: aliceblue;
    width:120px;
    grid-area: aapl;
    text-align: center;
    border-radius: 1em;
    margin-top: 10px;

}
.paytm{
    background-color:aliceblue;
    width:120px;
    grid-area: paytm;
    border-radius: 1em;
    text-align: center;
}
.meta{
    background-color:rgb(185, 222, 255);
    width:120px;
    grid-area: meta;
    border-radius: 1em;
    text-align: center;
    margin-top: 10px;
}
.tsla{
    background-color:rgb(185, 222, 255);
    width:120px;
    grid-area:tsla;
    border-radius: 1em;
    text-align: center;
    
}
.base{
    border-radius: 2em;
    width:23em;
    position:relative;
    height:20em;
}
.toDo img{
width:50px;
height: 50px;
}
.toDo{
    display:inline-block;
}
.todo p{
    position: absolute;
    margin-top:-50px;
}